<div class="container">
  <div class="span10">
<%= simple_form_for(@event, :html => {class: "form-horizontal well" , :multipart => true}) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, wrapper_html: { class: 'username' } %>
    <%= f.input :venue %>
    <%= f.input :address %>
    <%= f.input :date, as: :date, start_year: Date.today.year + 0, end_year: Date.today.year + 5, order: [:day, :month, :year]%>
    <%= f.input :time %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :organiser_details %>
 
    <%= f.input :avatar, as: :file, label: "Event Poster" %>
</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
 <% end %>
 </div>
</div>

