<div id="content" class="clrfix">
  <section id="hero" >
<%= simple_form_for(@event, :html => {class: "form-horizontal well" , :multipart => true}) do |f| %>

  <%= f.error_notification %>
<h2 style="font-color: black">-----Step 1 Event Details-----</h2>
  <div class="form-inputs">
    <%= f.input :title, wrapper_html: { class: 'username' } %>
    <%= f.input :venue %>
    <%= f.input :address %>
    <%= f.input :date, as: :date, start_year: Date.today.year + 0, end_year: Date.today.year + 5, order: [:day, :month, :year]%>
    <%= f.input :time %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :organiser_details %>
    <%= f.input :avatar, as: :file, label: "Event Poster" %>

    <h2 style="font-color: black">-----Step 2 Ticket Information-----</h2>
    <%= f.input :ticket_name %>
    <%= f.input :ticket_price%>
    <%= f.input :ticket_quantity %>
    <%= f.input :due_date %>
</div>

    <div class="form-actions">
        <%= f.button :submit %>
    </div>
 <% end %>
</section>
</div>

