<div class="container">
  <div class="span10">
<%= simple_form_for(@event, :html => {class: "form-horizontal well" , :multipart => true}) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

  <%= render "#{@event.current_step}", :f => f %>
    
<p><%= f.submit "Continue" %></p>
    <p><%= f.submit "Back", :name => "back_button" unless @event.first_step? %></p>

<% end %>
 </div>


</div>
</div>
