<% content_for :title do %>
All Event
<% end %>

<div id="content" class="clrfix">
    <section id="hero">
        <section id ="hero2">
        <h2>All Event</h2>
        <table style="width:100%;">
            <% @events.in_groups_of(2) do |row_tasks| %>
            <tr>
                <% for event in row_tasks %>
                <td style="padding:0px 0px 10px 0px;">

                    <%= image_tag event.avatar, :size => "150x300" %> </br>

                    <%= link_to(image_tag(event.avatar, :width=> "229px",:height=>"350px"),event) %></br>
                    <b><u><%= event.title %></u></b></br>
                    <%= event.date %></br>
                    <p><%= event.venue %> >>>  <%= link_to 'View', event %></p>
                </td><% end %>
            </tr><% end %>
        </table>
<br />
<%= paginate @paginate %>
      
</section>
</section>
</div>
