<% content_for :title do %>
All Event
<% end %>

<div id="content" class="clrfix">
    <section id="hero">
        <h2>All Event</h2>
        <table style="width:100%;">
<% @events.each do |event| %>

  <tr>
    <td style="padding:0px 0px 10px 0px;">
        <%= image_tag event.avatar, :width=> "229px",:height=>"350px" %>  
    </td>
    <td><b><u><%= event.title %></u></b></br>
        <%= event.time %>, <%= event.date %></br>
        <%= event.venue %></br>
        <%= event.description %></br>
    </td>
    <td><%= link_to '#', event %></td>
  </tr>

<% end %>
</table>
<br />

</section>
</div>
