<% content_for :title do %>
Preview Event
<% end %>
<div id="content" class="clrfix">
    <section id="hero">
    <section id="hero2">
      <table border="1">
      <tr class="wsite-multicol-tr">
        <td class="wsite-multicol-col" style="width:70.75%;padding:0 10px">
            <div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
              <%= image_tag @event.avatar.url, :size=> "290x400"%>
            </div>
        </td>
        <td class="wsite-multicol-col" style="width:500px; padding:0 10px">
            <h2 style="text-align:left;"><font size="3">Left <%= @event.ticket_quantity %> ticket!</font></h2>
            <p></p>
            <div class="paragraph" style="text-align:left;">
              <b>Expired By :  </b>
               <%= @event.due_date %><br />
              <b>Ticket price :  </b>
               RM  <%= @event.ticket_price %></div>
               <hr><hr>
              <%= render_shareable :buttons=> ['twitter', 'facebook'] %>
              </td>
            </tr>
            </table>

          <br/>
      <p><b>Title : </b> <%= @event.title %></p>
      <p><b>Venue : </b><%= @event.venue %></p>
      <p><b>Address : </b><%= @event.address %></p>
      <p><b>Date : </b><%= @event.date %></p>
      <p><b>Time : </b><%= @event.time %></p>
      <p><b>Category : </b><%= @event.category %></p>
      <p><b>Description : </b><%= @event.description %></p>
      <p><b>Organiser details : </b><%= @event.organiser_details %></p>
       
       
      <button><%= link_to 'Edit', edit_event_path(@event) %></button>  
      <button><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      

      <hr><hr>
      <h2>Purchase Ticket</h2>
  <%= simple_form_for([@event, @event.tickets.create], :url => event_path(@event),:html => {class: "form-horizontal well" , :multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ticket_quantity, :label => "Ticket Quantity" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , "Buy" %>
  </div>
<% end %>
</section>
</section>
</div>