<% content_for :title do %>
My Event
<% end %>
<div id="content" class="clrfix">
    <section id="hero" >
<h1>My Event</h1>

<table>
<% @events.each do |event| %>

  <tr>
    <td><%= image_tag event.avatar, :width=> "229px",:height=>"350px" %>  </td>
    <td><p>  </p> </td>
    <td><%= event.title %></br>
        <%= event.time %>, <%= event.date %></br>
        <%= event.venue %></br>
        <%= event.description %></br>
    </td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
</section>
</div>
