
<% content_for :title do %>
Contact Us
<% end %>

<div class="row">
  <div class="span8">
<%= simple_form_for @message, :url => contact_path, html: {class: "form-horizontal well"} do |f| %>

  <fieldset>
    <legend style="font-size: 38px">&nbspContact Us!</legend>   
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :subject %>
    <%= f.input :body %>
 <div class="pull-right"><%= f.button :submit, "contact us" %></div>
  
<% end %>
</div>
</div>