<!DOCTYPE html>
<html>
<head>
  <title>EME : <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <!--Start wrapper -->
<div class="containerWrap">
 <!--start header -->
  <div class="header">
      <!--start logo -->
      <div class="logo">
        <%= image_tag "sexylogo2.png", :size => "110x110" %>
    </div><!--end logo -->
    <!--start navigation -->
    <div id="nav">  <li class="current"><a href="#">Home</a></li>
              <li><%= link_to "All Event", events_path %></li>

              <li><%= link_to "My Event", page_my_event_path %></li>

              <li><%= link_to "My Ticket", page_my_ticket_path %></li>

              <% if user_signed_in? %>
              <li><%= link_to "Create Event", new_event_path %></li>
              <li><%= link_to "Welcome, " + current_user.full_name, edit_user_registration_path %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Register", new_user_registration_path %></li>
                <li><%= link_to "Log in", user_session_path %></li>
            <% end %>
          </ul>
  </div> 
    <!--end navigation -->
</div>

  <div class="container" style="padding-top: 10px;">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
<%= yield %>
</div>



<div class="footer-wrap">
 <div class="clearfix footer">
  <div class = "menu-wrap" id="footer-menu-1-wrap">
    <span class="menu-title"><%= link_to "About Us", page_about_us_path %>
              </span>
    <u1 id="footer-menu-1" class="menu">
      <li><%= link_to "Contact Us", contact_path %></li>
    </div>
  </div>
</div>

</body>
</html>
